@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@400;500;600;700&family=Varela+Round&display=swap');

:root{
	// Normal Colors
	--green: #AED581;
	--light-green: #DCEDC8;
	--pink: #EF9A9A;
	--red: #EF5350;
	// --blue: ;
	--purple: #9575CD;
	--white: white;

	// Dracula colors
	--dracula-Background: #282a36;
    --dracula-CurrentLine: #44475a;
    --dracula-Foreground: #f8f8f2;
    --dracula-Comment: #6272a4;
    --dracula-Cyan: #8be9fd;
    --dracula-Green: #50fa7b;
    --dracula-Orange: #ffb86c;
    --dracula-Pink: #ff79c6;
    --dracula-Purple: #bd93f9;
    --dracula-Red: #ff5555;
    --dracula-Yellow: #f1fa8c;

	// --font: 'Geologica', sans-serif;
	--font: 'Varela Round', sans-serif;
}

*{
	margin: 0;
	padding: 0;
}

body{
	font-family: var(--font);
	background-color: var(--light-green);

	padding-top: 1rem;

	display: flex;
	flex-direction: column;
	align-items: center;
	user-select: none;

}

h1{
	margin-bottom: 10px;
	color: var(--dracula-Comment);
}

.board{
	display: grid;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
	gap: 10px;

	width: min(90%, 500px);
	aspect-ratio: 1/1;

	*{
		background-color: var(--green);
		font-size: 80px;

		display: flex;
		justify-content: center;
		align-items: center;

		border-radius: 30px;
	}
}

.x{
	color: var(--purple);
}
.o{
	color: var(--red);
}

p:hover{
	opacity: 70%;
	cursor: pointer;
}