@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@400;500;600;700&family=Varela+Round&display=swap");
:root {
  --green: #AED581;
  --light-green: #DCEDC8;
  --pink: #EF9A9A;
  --red: #EF5350;
  --purple: #9575CD;
  --white: white;
  --dracula-Background: #282a36;
  --dracula-CurrentLine: #44475a;
  --dracula-Foreground: #f8f8f2;
  --dracula-Comment: #6272a4;
  --dracula-Cyan: #8be9fd;
  --dracula-Green: #50fa7b;
  --dracula-Orange: #ffb86c;
  --dracula-Pink: #ff79c6;
  --dracula-Purple: #bd93f9;
  --dracula-Red: #ff5555;
  --dracula-Yellow: #f1fa8c;
  --font: "Varela Round", sans-serif;
  --transition-time: 300ms;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
  padding: 0;
}

button:hover {
  cursor: pointer;
}

dialog {
  width: 100vw;
  height: 100vh;
  border: none;
}

body {
  font-family: var(--font);
  background-color: var(--light-green);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-select {
  padding-top: 30vh;
  background-color: var(--light-green);
}
.player-select form {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
.player-select input {
  width: min(400px, 80%);
  height: 60px;
  border-radius: 20px;
  border: none;
  padding-left: 20px;
  font-size: 20px;
}
.player-select input:focus {
  outline: 2px solid var(--green);
}
.player-select ::-webkit-backdrop {
  background-color: var(--light-green);
}
.player-select ::backdrop {
  background-color: var(--light-green);
}

button {
  margin-top: 2rem;
  font-size: 26px;
  font-weight: 700;
  padding: 20px 60px;
  border: none;
  border-radius: 20px;
  background-color: var(--dracula-CurrentLine);
  color: white;
  transition: ease-in-out var(--transition-time);
}

button:hover {
  background-color: var(--green);
}

.marker-select {
  background-color: var(--light-green);
}
.marker-select form {
  padding-top: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.marker-select form > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.marker-select form label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 46px;
  width: 60px;
  height: 60px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.marker-select form input {
  visibility: hidden;
}
.marker-select form input[type=radio]:checked + label {
  background-color: var(--green);
  border-radius: 10px;
}
.marker-select form h2 {
  display: inline;
  font-size: 30px;
  color: var(--dracula-CurrentLine);
}

h1 {
  margin-bottom: 10px;
  margin-top: 1rem;
  color: var(--dracula-Comment);
}

.board {
  display: grid;
  grid-template: repeat(3, 1fr)/repeat(3, 1fr);
  gap: 10px;
  width: min(90%, 500px);
  aspect-ratio: 1/1;
}
.board * {
  background-color: var(--green);
  font-size: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.board .x:hover,
.board .o:hover {
  cursor: not-allowed;
}

.x {
  color: var(--purple);
}

.o {
  color: var(--red);
}

p:hover {
  opacity: 70%;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */