@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@400;500;600;700&family=Varela+Round&display=swap');

:root{
	--green: #AED581;
	--red: #EF9A9A;
	--blue: ;
	--purple: #9575CD;
	--white: white;

	// --font: 'Geologica', sans-serif;
	--font: 'Varela Round', sans-serif;
}

*{
	margin: 0;
	padding: 0;
}

body{
	font-family: var(--font);

	display: flex;
	justify-content: center;
}

.board{
	display: grid;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
	justify-items: center;
	align-items: center;

	width: 600px;
	height: 600px;

	*{
		background-color: var(--green);
		font-size: 80px;
		width: 190px;
		height: 190px;

		display: flex;
		justify-content: center;
		align-items: center;
	}
}