@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@400;500;600;700&family=Varela+Round&display=swap');

:root{
	--green: #AED581;
	--pink: #EF9A9A;
	--red: #EF5350;
	--blue: ;
	--purple: #9575CD;
	--white: white;

	// --font: 'Geologica', sans-serif;
	--font: 'Varela Round', sans-serif;
}

*{
	margin: 0;
	padding: 0;
}

body{
	font-family: var(--font);

	padding-top: 1rem;

	display: flex;
	justify-content: center;
}

.board{
	display: grid;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
	gap: 10px;

	width: min(90%, 500px);
	aspect-ratio: 1/1;

	*{
		background-color: var(--green);
		font-size: 80px;

		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.x{
	color: var(--purple);
}
.o{
	color: var(--red);
}

.x:hover,
.o:hover{
	cursor: pointer;
	opacity: 70%;
}